
html {
    background-color: beige;
    color: cadetblue;
    text-align: center;
    margin: 2fr 1fr;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-gap: 10px;
    background-color: darkgoldenrod;
}

.grid > div {
    background-color: darkgreen;
    padding: 3px;
    border: wheat 3px solid;
    box-sizing: border-box;
}

